.AR-Clander{width:700px;margin:0 auto;}
.CLswitch a{margin:0 10px;}
.TabClander thead th{text-align:center;font-size:14px;line-height:30px;}
.TabClander tbody td{text-align:center;}
.TabClander tbody td div{position: relative;height:80px;line-height:70px;}
.TabClander tbody td em{position:absolute;left:5px;top:5px;}
.TabClander th,.TabClander td{border-style:solid;border-width:1px;}
.TabClander td span,.TabClander tbody td div p{color:#999;}
.TabClander tbody td div p{line-height:20px;position: absolute;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;left:1px;bottom:0;width:95px;}
.TabClander0f tbody td div{height:70px;padding:5px 0;}
.TabClander0f tbody tr td .begin,.TabClander0f tbody tr td .end{position:absolute;bottom:5px;}
.TabClander0f tbody tr td .begin{left:10px;}
.TabClander0f tbody tr td .end{right:10px;}
.TabClander0f tbody tr td p{position:relative;width:auto;line-height:40px;}
.DataLi li{margin-right:8px;}
.DataLi li:hover{cursor:inherit;}
.DataLi li h2{line-height:25px;}
.DataLi li th{color:#999;padding-left:10px;}
.Pcard thead th,.Pcard td{text-align:center;}
.Pcard thead th{font-size:14px;height:40px;}
.Pcard td{height:30px;color:#666;}
.Pcard td span{color:#21812a}
.Pcard td span.late{color:#a93535;}
.ContractTab th,.ContractTab td{padding:10px 10px;}
.PerMain{width:718px;min-height:600px;}
.ARlist{width:750px;}
.ARlist li{width:130px;margin:0 0 15px 6px;}
.ARlist li .CardTop dl{width:60px;}
.PerListmini li{width:80px;position:relative;margin:0 8.5px 20px 24px;overflow:hidden;}
.PerListmini li .makeitem{position:absolute;right:-90px;top:0;width:100%;height:100%;line-height:20px;transition:0.4s;}
.PerListmini li .makeitem a{margin-top:5px;padding-left:10px;}
.PerListmini li:hover .makeitem{right:0;transition:0.4s;}
.PerListmini li .CardTop dl{width:80px;margin:0;text-align: center;}
.bigcard li{padding:40px;margin:20px 15px 0 20px;}























