.AR-Clander{width:700px;margin:0 auto;}
.CLswitch a{margin:0 10px;}
.TabClander thead th{text-align:center;font-size:14px;line-height:30px;}
.TabClander tbody td{text-align:center;}
.TabClander tbody td div{position: relative;height:80px;line-height:70px;}
.TabClander tbody td em{position:absolute;left:5px;top:5px;}
.TabClander th,.TabClander td{border-style:solid;border-width:1px;}
.TabClander td span,.TabClander tbody td div p{color:#999;}
.TabClander tbody td div p{line-height:20px;position: absolute;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;left:1px;bottom:0;width:95px;}
.DataLi li{margin-right:8px;}
.DataLi li:hover{cursor:inherit;}
.DataLi li h2{line-height:25px;}
.DataLi li th{color:#999;padding-left:10px;}
.Pcard thead th,.Pcard td{text-align:center;}
.Pcard thead th{font-size:14px;height:40px;}
.Pcard td{height:30px;color:#333;}
.Pcard td span{color:#21812a}
.Pcard td span.late{color:#a93535;}
.ContractTab th,.ContractTab td{padding:10px 10px;}










