/*字体颜色和边框*/
.AppLayout,.AppTopBar,.AppNav,.AppNavT,.word-ser li a:hover,.PerList li:hover,.PopRight,.Info,.edit,.PopLeft ul li a:hover,.TabClander th,.TabClander td,.Pcard{border-color:#D4E5F6;}/*辅助色*/
.word-ser li.current a,.button,.edit,.PopLeft ul li a.current,.ThemeInput:hover,.ThemeText:hover{border-color:#0066CC;}/*主色*/
.PerList li,.ThemeSelect,.ThemeInput,.ThemeText{border-color:#E7E7E7;}/*灰色边框*/
.AppTopBar,.AppNavT ul li a:hover,.AppNavT ul li.current a,.PopTitle,.PerName,
.a-link,.invite:hover,.invite,.Nav-ul li.AppSet a,.Nav-ul li.AppSet.current a,.SearchResults dd a em,.CardBt a,.Themetxt-color,.off,.Pcard thead th{color:#0066CC;}
{color:#004488;}/*颜色-深色*/
/*背景色*/
.AppTopBar,.word-ser li a:hover,.PerList li,.PopLeft ul li a:hover,.WorkStory tbody tr:hover,.WorkStory thead th,.TabClander,.BgColor{background-color:#EDF4FB;}/*浅色*/
.PerList li:hover,.PopLeft ul li a.current,.today,.TabClander tbody td:hover,.Pcard tbody tr:hover,.Pcard thead{background-color:#D4E5F6;}/*辅助色*/
.down-list li:hover,.word-ser li.current a,.button,.off:hover{background-color:#0066cc;}/*主色*/
.button:hover{background-color:#004488;}/*深色*/
.off:hover{color:#fff;}
/*按钮*/
.button{border-bottom-color:#004488;border-radius:3px;font-size:12px;}
.icon{background-image:url("../img/theme1/theme-ico.png");position: relative;top:-1px;margin-right:2px;}









