<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤维护-考勤日历</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/ar-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<div class="AppLayout border-solid">
    <!--app title begin-->
    <div class="AppTopBar border-solid border-bottom clearfix">
        <div class="TopBarl floatleft">
            <span class="AppLogo"><img src="../img/ico-8.png"></span>
            <em class="font18">员工考勤</em>
        </div>
    </div>
    <!--app title over-->
    <!--一级导航begin-->
    <div class="AppNav border-solid border-bottom clearfix">
        <ul class="Nav-ul font14 clearfix">
            <li class="current"><a href="#">考勤维护</a></li>
            <li><a href="#">考勤查看</a></li>
            <li><a href="#">报表统计</a></li>
            <li><a href="#">我的考勤</a></li>
            <li class="AppSet"><a href="#"><em class="icon icon-set"></em>应用设置</a></li>
        </ul>
    </div>
    <!--一级导航over-->
    <!--二级导航begin-->
    <div class="AppNavT border-solid border-bottom clearfix">
        <ul class="font16 clearfix floatleft">
            <li class="current"><a href="#">考勤日历</a></li>
            <li><a href="#">刷卡记录</a></li>
            <li><a href="#">维护汇总</a></li>
        </ul>
    </div>
    <!--二级导航over-->
    <!--app 主要区域begin-->
    <div class="AppMain clearfix">
        <!--考勤日历begin-->
        <div class="AR-Clander mart10">
            <!--切换日历beign-->
            <div class="CLswitch aligncenter clearfix">
                <a href="#" class="Themetxt-color floatleft"><em class="icon icon-ppprev"></em> 上一年</a>
                <a href="#" class="Themetxt-color floatleft"><em class="icon icon-pprev"></em> 上一月</a>
                <a href="#" class="Themetxt-color floatright">下一年 <em class="icon icon-nnnext"></em></a>
                <a href="#" class="Themetxt-color floatright">下一月 <em class="icon icon-nnext"></em></a>
                <span class="font14">2013年12月</span>
            </div>
            <!--切换日历over-->
            <table class="TabClander mart20" width="100%">
                <thead>
                    <tr>
                        <th>星期日</th>
                        <th>星期一</th>
                        <th>星期二</th>
                        <th>星期三</th>
                        <th>星期四</th>
                        <th>星期五</th>
                        <th>星期六</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <div>
                            <em>1</em>
                            <span>休息</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>2</em>
                            <span><a href="#" class="a-link">工作</a></span>
                            <p>缺省考勤缺省考勤</p>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>3</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>4</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>5</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div class="today">
                            <em>6</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>7</em>
                            <span>休息</span>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div>
                            <em>8</em>
                            <span>休息</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>9</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>10</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>11</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>12</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>13</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>14</em>
                            <span>休息</span>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div>
                            <em>15</em>
                            <span>休息</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>16</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>17</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>18</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>19</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>20</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>21</em>
                            <span>休息</span>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div>
                            <em>22</em>
                            <span>休息</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>23</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>24</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>25</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>26</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>27</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>28</em>
                            <span>休息</span>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div>
                            <em>29</em>
                            <span>休息</span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>30</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <em>31</em>
                            <span><a href="#" class="a-link">工作</a></span>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--考勤日历over-->
    </div>
    <!--app 主要区域over-->
</div>
<!--弹出层begin-->
<div class="AppPop" style="left:50%;top:200px;margin-left:-200px;width:400px;">
  <div class="PopInner">
    <div class="PopTitle">
        <span>2013年12月10日 日历设置</span>
        <span class="off">×</span>
    </div>
    <div class="PopMain clearfix">
        <table class="PopTable marl20">
            <tr>
                <th class="Themetxt-color">日历日期</th>
                <td>2013-12-10</td>
            </tr>
            <tr>
                <th class="Themetxt-color">日历类别</th>
                <td>
                    <select class="ThemeSelect">
                        <option>工作</option>
                        <option>休息</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="Themetxt-color">备注</th>
                <td><textarea rows="4" cols="35" class="ThemeText"></textarea></td>
            </tr>
        </table>
        <p class="alignright mart20 marr5"><a class="button">保存日历</a></p>
    </div>
  </div>
</div>
<!--弹出层over-->
</body>
</html>