<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤项目</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/ar-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<div class="AppLayout border-solid">
    <!--app title begin-->
    <div class="AppTopBar border-solid border-bottom clearfix">
        <div class="TopBarl floatleft">
            <span class="AppLogo"><img src="../img/ico-8.png"></span>
            <em class="font18">员工考勤</em>
        </div>
    </div>
    <!--app title over-->
    <!--一级导航begin-->
    <div class="AppNav border-solid border-bottom clearfix">
        <ul class="Nav-ul font14 clearfix">
            <li class="current"><a href="#">考勤维护</a></li>
            <li><a href="#">考勤查看</a></li>
            <li><a href="#">报表统计</a></li>
            <li><a href="#">我的考勤</a></li>
            <li class="AppSet"><a href="#"><em class="icon icon-set"></em>应用设置</a></li>
        </ul>
    </div>
    <!--一级导航over-->
    <!--二级导航begin-->
    <div class="AppNavT border-solid border-bottom clearfix">
        <ul class="font16 clearfix floatleft">
            <li><a href="#">考勤班组</a></li>
            <li class="current"><a href="#">考勤项目</a></li>
            <li><a href="#">考勤区间</a></li>
        </ul>
    </div>
    <!--二级导航over-->
    <!--app 主要区域begin-->
    <div class="AppMain clearfix">
        <ul class="PerList DataLi clearfix">
            <li>
              <div class="CardTop clearfix">
                  <h2 class="aligncenter Themetxt-color font16">事假</h2>
                  <table class="mart10" width="100%">
                      <tr>
                          <th>单位</th>
                          <td class="Themetxt-color">小时</td>
                      </tr>
                      <tr>
                          <th>最小值</th>
                          <td class="Themetxt-color">1</td>
                      </tr>
                      <tr>
                          <th>参考数据</th>
                          <td class="Themetxt-color">申请数据</td>
                      </tr>
                  </table>
                  <p class="alignright mart10">
                      <a href="#" class="marr20 Themetxt-color"><em class="icon icon-edit"></em>编辑</a>
                      <a href="#" class="Themetxt-color"><em class="icon icon-stop"></em>停用</a>
                  </p>
              </div>
            </li>
            <li>
              <div class="CardTop clearfix">
                  <h2 class="aligncenter Themetxt-color font16">病假</h2>
                  <table class="mart10" width="100%">
                      <tr>
                          <th>单位</th>
                          <td class="Themetxt-color">小时</td>
                      </tr>
                      <tr>
                          <th>最小值</th>
                          <td class="Themetxt-color">1</td>
                      </tr>
                      <tr>
                          <th>参考数据</th>
                          <td class="Themetxt-color">申请数据</td>
                      </tr>
                  </table>
                  <p class="alignright mart10">
                      <a href="#" class="marr20 Themetxt-color"><em class="icon icon-edit"></em>编辑</a>
                      <a href="#" class="Themetxt-color"><em class="icon icon-stop"></em>停用</a>
                  </p>
              </div>
            </li>
            <li>
              <div class="CardTop clearfix">
                  <h2 class="aligncenter Themetxt-color font16">迟到</h2>
                  <table class="mart10" width="100%">
                      <tr>
                          <th>单位</th>
                          <td class="Themetxt-color">分钟</td>
                      </tr>
                      <tr>
                          <th>最小值</th>
                          <td class="Themetxt-color">1</td>
                      </tr>
                      <tr>
                          <th>参考数据</th>
                          <td class="Themetxt-color">打卡数据</td>
                      </tr>
                  </table>
                  <p class="alignright mart10">
                      <a href="#" class="marr20 Themetxt-color"><em class="icon icon-edit"></em>编辑</a>
                      <a href="#" class="Themetxt-color"><em class="icon icon-stop"></em>停用</a>
                  </p>
              </div>
            </li>
            <li>
              <div class="CardTop clearfix">
                  <h2 class="aligncenter Themetxt-color font16">迟到</h2>
                  <table class="mart10" width="100%">
                      <tr>
                          <th>单位</th>
                          <td class="Themetxt-color">分钟</td>
                      </tr>
                      <tr>
                          <th>最小值</th>
                          <td class="Themetxt-color">1</td>
                      </tr>
                      <tr>
                          <th>参考数据</th>
                          <td class="Themetxt-color">打卡数据</td>
                      </tr>
                  </table>
                  <p class="alignright mart10">
                      <a href="#" class="marr20 Themetxt-color"><em class="icon icon-edit"></em>编辑</a>
                      <a href="#" class="Themetxt-color"><em class="icon icon-stop"></em>停用</a>
                  </p>
              </div>
            </li>
        </ul>
    </div>
    <!--app 主要区域over-->
</div>
</body>
</html>