<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤班组</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/ar-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<div class="AppLayout border-solid">
    <!--app title begin-->
    <div class="AppTopBar border-solid border-bottom clearfix">
        <div class="TopBarl floatleft">
            <span class="AppLogo"><img src="../img/ico-8.png"></span>
            <em class="font18">员工考勤</em>
        </div>
    </div>
    <!--app title over-->
    <!--一级导航begin-->
    <div class="AppNav border-solid border-bottom clearfix">
        <ul class="Nav-ul font14 clearfix">
            <li class="current"><a href="#">考勤维护</a></li>
            <li><a href="#">考勤查看</a></li>
            <li><a href="#">报表统计</a></li>
            <li><a href="#">我的考勤</a></li>
            <li class="AppSet"><a href="#"><em class="icon icon-set"></em>应用设置</a></li>
        </ul>
    </div>
    <!--一级导航over-->
    <!--二级导航begin-->
    <div class="AppNavT border-solid border-bottom clearfix">
        <ul class="font16 clearfix floatleft">
            <li class="current"><a href="#">考勤班组</a></li>
            <li><a href="#">考勤项目</a></li>
            <li><a href="#">考勤区间</a></li>
        </ul>
    </div>
    <!--二级导航over-->
    <!--app 主要区域begin-->
    <div class="AppMain clearfix">
        <!--一类begin-->
        <table class="ContractTab mart20" width="100%">
            <tr>
                <td colspan="4" class="Themetxt-color">
                    <span class="font16">正常早8晚5</span>
                    <a href="#" class="a-link font12 marl20"><em class="icon icon-user"></em>班组成员</a>
                </td>
            </tr>
            <tr>
                <th rowspan="2">考勤类别</th>
                <td rowspan="2">
                    <select class="ThemeSelect">
                        <option>打卡时间</option>
                    </select>
                </td>
                <th>上班时间</th>
                <td>
                    <input type="text" class="ThemeInput">
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>09</option>
                    </select>
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>05</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>下班时间</th>
                <td>
                    <input type="text" class="ThemeInput">
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>09</option>
                    </select>
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>05</option>
                    </select>
                </td>
            </tr>
        </table>
        <!--一类over-->
        <!--一类begin-->
        <table class="ContractTab mart20" width="100%">
            <tr>
                <td colspan="4" class="Themetxt-color">
                    <span class="font16">正常早9晚6</span>
                    <a href="#" class="a-link font12 marl20"><em class="icon icon-user"></em>班组成员</a>
                </td>
            </tr>
            <tr>
                <th rowspan="2">考勤类别</th>
                <td rowspan="2">
                    <select class="ThemeSelect">
                        <option>打卡时间</option>
                    </select>
                </td>
                <th>上班时间</th>
                <td>
                    <input type="text" class="ThemeInput">
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>09</option>
                    </select>
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>05</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>下班时间</th>
                <td>
                    <input type="text" class="ThemeInput">
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>09</option>
                    </select>
                    <select class="ThemeSelect">
                        <option>08</option>
                        <option>05</option>
                    </select>
                </td>
            </tr>
        </table>
        <!--一类over-->
        <!--一类begin-->
        <table class="ContractTab mart20" width="100%">
            <tr>
                <td colspan="4" class="Themetxt-color">
                    <span class="font16">弹性考勤</span>
                    <a href="#" class="a-link font12 marl20"><em class="icon icon-user"></em>班组成员</a>
                </td>
            </tr>
            <tr>
                <th>考勤类别</th>
                <td>
                    <select class="ThemeSelect">
                        <option>工作时长</option>
                    </select>
                </td>
                <th>当天工作时长</th>
                <td>
                    <input type="text" class="ThemeInput">
                    <select class="ThemeSelect">
                        <option>分钟</option>
                        <option>小时</option>
                    </select>
            </tr>
        </table>
        <p><a class="add-more block aligncenter" href="#"><em class="icon icon-add"></em> 增加考勤班组</a></p>
        <p class="alignright mart20 marr5"><a class="button">保存设置</a></p>
        <!--一类over-->
    </div>
    <!--app 主要区域over-->
</div>
</body>
</html>