<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤区间</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/ar-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<div class="AppLayout border-solid">
    <!--app title begin-->
    <div class="AppTopBar border-solid border-bottom clearfix">
        <div class="TopBarl floatleft">
            <span class="AppLogo"><img src="../img/ico-8.png"></span>
            <em class="font18">员工考勤</em>
        </div>
    </div>
    <!--app title over-->
    <!--一级导航begin-->
    <div class="AppNav border-solid border-bottom clearfix">
        <ul class="Nav-ul font14 clearfix">
            <li class="current"><a href="#">考勤维护</a></li>
            <li><a href="#">考勤查看</a></li>
            <li><a href="#">报表统计</a></li>
            <li><a href="#">我的考勤</a></li>
            <li class="AppSet"><a href="#"><em class="icon icon-set"></em>应用设置</a></li>
        </ul>
    </div>
    <!--一级导航over-->
    <!--二级导航begin-->
    <div class="AppNavT border-solid border-bottom clearfix">
        <ul class="font16 clearfix floatleft">
            <li><a href="#">考勤班组</a></li>
            <li><a href="#">考勤项目</a></li>
            <li class="current"><a href="#">考勤区间</a></li>
        </ul>
    </div>
    <!--二级导航over-->
    <!--app 主要区域begin-->
    <div class="AppMain clearfix">
        <p class="font16 mart10 marl10">设置考勤系统计算考勤的开始与结束日期</p>
        <!--一类begin-->
        <table class="ContractTab mart20">
            <tr>
                <th>考勤计算开始日</th>
                <td>
                    <select class="ThemeSelect">
                        <option>当月</option>
                    </select>
                </td>
                <td>
                    <select class="ThemeSelect">
                        <option>1日</option>
                        <option>10日</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>考勤计算结束日</th>
                <td>
                    <select class="ThemeSelect">
                        <option>当月</option>
                    </select>
                </td>
                <td>
                    <select class="ThemeSelect">
                        <option>1日</option>
                        <option>10日</option>
                    </select>
                </td>
            </tr>
        </table>
        <!--一类over-->
        <p class="alignright mart20 marr5"><a class="button">保存设置</a></p>
        <!--一类over-->
    </div>
    <!--app 主要区域over-->
</div>
</body>
</html>